html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

main{
    height: 100%;
    width: 100%;
    /* padding: 1%; */
}


nav{
    background: rgba(0, 0, 0, 0.109);
    height: fit-content;
    min-height: 5%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 2px solid black;
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


nav a{
    text-decoration: none;
    color: black;
}

nav button{
    background: red;
    padding: 6px;
}

.nav_ele{
    padding: 5px;
    border: 2px solid black;
}

.nav_div1{
    height: fit-content;
    min-height: 30px;
    width: 20%;
    flex-basis: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-left: 5%;
    padding: 1%;
    border: 2px solid black;
}

.nav_div2{
    height: fit-content;
    min-height: 30px;
    width: 50%;
    flex-basis: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    margin-right: 4%;
    padding: 1%;
    border: 2px solid black;
}

.nav_div3{
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
}

.nav_btn{
    margin-left: auto;
    margin-right: 20px;
    color: red;
}

.nav_menu{
    display: none;
    flex-direction: column;
}

.nav_div3:hover .nav_menu{
    display: flex;
}
.nav_div3:hover .nav_btn{
    display: none;
}


.nav_mob{
    background-color: white;
}

footer{
    background: purple;
    height: 5%;
    width: 100%;
    border: 2px solid black;
    padding: 1%;
}

.hero{
    background: red;
    height:auto;
    width:100%;
    background: url("static/images/heroLeft.png");
    background-color: black;
    border: 2px double rgb(0, 0, 0);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:stretch;
}

.hero_div1{
    height: auto;
    width:49%;
    flex: 1 1 300px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.hero_div2{
    height: auto;
    width: 49%;
    flex: 1 1 300px;
    background: url("static/images/heroRight.png");
    border: 2px solid black;
    display: flex;
    align-items: center;
}

.future{
    background: green;
    height: 100%;
    width: 99%;
    padding: 1%;
    border: 2px solid black;
    padding-top: 3%;
    display: flex;
}

.today{
    background: blue;
    min-height: 80%;
    width:100%;
    padding: 1%;
    border: 2px solid black;
    padding-top: 3%;
}

.review{
    background: pink;
    min-height: 80%;
    width:100%;
    padding: 1%;
    border: 2px solid black;
    padding-top: 3%;
}

.contact{
    background: brown;
    min-height: 80%;
    width:100%;
    padding: 1%;
    border: 2px solid black;
    padding-top: 3%;
}

.heading_mini{
    margin:0;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 600;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.heading_white{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xxx-large;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    justify-content: left;
}

.heading_red{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xxx-large;
    font-weight: bold;
    color: red;
    text-transform: capitalize;
    justify-content: left;
}


.text_content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color:white;
    word-spacing: 5px;
    justify-content: center;
    line-height: 20px;
}


.bg_img{
    height: 100%;
    width: 100%;
}

.cmn_div1{
    margin-left: 10%;
    margin-right: auto;
    padding: 20px;
}

.cmn_btn{
    min-width: 200px;
    min-height: 50px;
    height: auto;
    width: auto;
    border-radius: 10px;
}




@media only screen and (max-width: 500px){
    .nav_div1{
        display: none;
    }
    .nav_div2{
        display: none;
    }
    .nav_div3{
        display: flex;
    }
}
