html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

main{
    height: 100%;
    width: 100%;
    /* padding: 1%; */
}

/* NAVIGATION BAR STARTS */
nav{
    background: rgba(0, 0, 0, 0.109);
    height: fit-content;
    min-height: 5%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 4;
}


nav a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav button{
    min-width: 200px;
    min-height: 50px;
    max-width: 200px;
    max-height: 50px;
    border: 2px solid red;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    background: red;
    padding: 20px;
}

.nav_ele{
    padding: 5px;
    /* border: 2px solid black; */
}

.nav_div1{
    height: auto;
    width: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 0 1 200px;
    align-items: center;
    margin: 5px;
    margin-left: 5%;
    padding: 1%;
    /* border: 2px solid black; */
}

.nav_div2{
    height: fit-content;
    min-height: 30px;
    width: 50%;
    flex-basis: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    margin-right: 4%;
    padding: 1%;
    /* border: 2px solid black; */
}

.nav_div3{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: none;
    flex-direction: row;
    justify-content: center;
}

.nav_logo{
    max-width: 50px;
    max-height: 50px;
    display: flex;
    flex: 0 0 30px;
    margin-left: 10px;
}

.nav_btn{
    margin-left: auto;
    margin-right: 30px;
}

.nav_btn div{
    width: 25px;
    height: 3px;
    border-radius: 2px;
    border-color: white;
    background-color: rgb(255, 255, 255);
    margin: 4px 0;
}

.nav_menu{
    height: auto;
    width: 100%;
    display: none;
    flex-direction: column;
    margin: 8px;
    justify-content: center;
}

.nav_menu div{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
}

.nav_div3:hover .nav_menu{
    display: flex;
}
.nav_div3:hover .nav_btn{
    display: none;
}
.nav_div3:hover .nav_logo{
    display: none;
}

.nav_mob{
    background-color: white;
}
/* NAVIGATION BAR ENDS */


/* HERO SECTION STARTS */
.hero{
    background: red;
    height:auto;
    width:100%;
    background: url("static/images/heroLeft.png");
    background-color: black;
    /* border: 2px double rgb(0, 0, 0); */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:stretch;
}

.hero_div1{
    height: auto;
    width:49%;
    flex: 1 1 300px;
    margin: 5%;
    /* border: 2px solid black; */
    display: flex;
    align-items: flex-start;
    flex-flow: column;
}

.hero_div2{
    height: auto;
    width: 49%;
    flex: 1 1 300px;
    background: url("static/images/heroRight.png");
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
}
/* HERO SECTION ENDS */

/* FUTURE SECTION STARTS */
.future{
    background: green;
    height: auto;
    width: 100%;
    /* border: 2px solid black; */
    background: url("./static/images/futurebg.png");
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.future_div1{
    height: auto;
    max-width: fit-content;
    margin: 5%;
    /* border: 2px solid black; */
    display: flex;
    flex: 1 1 200px;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.future_div2{
    height: auto;
    width: 59%;
    /* border: 2px solid black; */
    display: flex;
    flex: 1 0 300px;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.future_stk_btn{
    margin-right: 50px
}

.future_stk_btn button{
    border: none;
}



.future_stk_0{
    margin-top: 25%;
    margin-bottom: 25%;
    height: fit-content;
    width: fit-content;
    min-height: 300px;
    min-width: 100px;
    z-index: 0;
    /* border: 2px solid black; */
}

.future_stk_1{
    margin-top: 15%;
    margin-bottom: 15%;
    margin-right: -30%;
    height: auto;
    min-height: 300px;
    min-width: 100px;
    z-index: 1;
    /* border: 2px solid black; */
}

.future_stk_2{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: -30%;
    height: auto;
    min-height: 300px;
    min-width: 100px;
    z-index: 2;
    position: relative;
}
/* FUTURE SECTION ENDS */

/* TODAY SECTION STARTS */
.today{
    background: blue;
    height: auto;
    min-height: 800px;
    width:100%;
    /* border: 2px solid black; */
    background: url("./static/images/todayBg.png");
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.today_div1{
    height: auto;
    min-height: 400px;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 3%;
    margin-bottom: 1%;
    margin-right: 5%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.today_div2{
    height: auto;
    min-height: 400px;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 1%;
    margin-bottom: 3%;
    margin-right: 5%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.today_card{
    height: 90%;
    width: 28%;
    min-height: 450px;
    /* border: 1px solid black; */
    border-radius: 20px;
    display: flex;
    flex: 0 1 400px;
    flex-flow: column;
    justify-content: center;
}

.today_card:hover {
    min-height: 470px;
    flex: 0 1 420px;
}

.tc_top{
    height: 50%;
    min-height: 225px;
    /* border: 1px solid black; */
    border-radius: 20px;
    
}
.tc_mid{
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
.tc_btm{
    margin-top: -20%;
    height: 70%;
    min-height: 275px;
    /* border: 1px solid black; */
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(rgba(36, 38, 51, 0.37), rgb(50, 56, 87));
}

.hex_icon{
    margin-top: -30%;
    margin-bottom:0;
    height: 100px;
    width: 100px;
    /* border: 1px solid black; */
    z-index: 1;
}

/* TODAY SECTION ENDS */

.review{
    background: pink;
    min-height: 80%;
    width:100%;
    padding: 1%;
    border: 2px solid black;
    padding-top: 3%;
}

.contact{
    background: brown;
    min-height: 80%;
    width:100%;
    padding: 1%;
    border: 2px solid black;
    padding-top: 3%;
}

footer{
    background: purple;
    height: 5%;
    width: 100%;
    border: 2px solid black;
    padding: 1%;
}


/* COMMON SECTION STARTS */
.heading_mini{
    margin:0;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 600;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.heading_white{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xxx-large;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    justify-content: left;
}

.heading_white_med{
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight:400;
    color: white;
    text-transform: capitalize;
    justify-content: left;
}

.heading_black{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xxx-large;
    font-weight: bold;
    color: black;
    text-transform: capitalize;
}

.heading_red{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xxx-large;
    font-weight: bold;
    color: red;
    text-transform: capitalize;
    justify-content: left;
}


.text_content_white{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    text-align: justify;
    color:white;
    word-spacing: 5px;
    justify-content: center;
    line-height: 20px;
}

.text_content_white_card{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: justify;
    color:white;
    word-spacing: 5px;
    justify-content: center;
    line-height: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.text_content_black{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    text-align: justify;
    color:rgb(0, 0, 0);
    word-spacing: 5px;
    justify-content: center;
    line-height: 20px;
}


.bg_img{
    height: 100%;
    width: 100%;
}

.img_card{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.cmn_div1{
    /* margin-left: 20px;
    margin-right: auto; */
    margin-top: 0;
    min-width: 300px;
    margin-bottom: 0;
    padding: 20px;
}

.cmn_btn{
    min-width: 200px;
    min-height: 50px;
    height: auto;
    width: auto;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    background: red;
    padding: 20px;
}
/* COMMON SECTION ENDS */



/* RESPONSIVE SECTION STARTS */
@media only screen and (max-width: 1200px){
    .nav_div1{
        display: none;
    }
    .nav_div2{
        display: none;
    }
    .nav_div3{
        display: flex;
    }
    .cmn_div1{
        margin-left: 5px;
    }
    nav{
        position: static;
        background: url("./static/images/heroLeft.png");
    }
}

@media only screen and (max-width: 1200px){
    .future_stk_2{
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .future_stk_1{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .future_stk_0{
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

/* RESPONSIVE SECTION ENDS */
